:root {
    --icon-color: #fe6100;
    --dark-grey: #111111;
    --light-grey: #262626;
    --white: whitesmoke;
    --background-orange: #ffab3d;
    --other-orange: #ffa500;
}

body {
    background-color: var(--white);
    margin: 0%;

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* BANNER */
.banner {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 10px 20px;
    background-color: var(--light-grey);
}

header span {
    color: var(--icon-color);
    gap: 15px;
}

.banner-content {
    display: inline-block;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    gap: 25px;
    padding-right: 15px;
}

.dropdown-button-bar {
    display: none;
}

.dropdown-button-x {
    display: none;
}

.mobile-nav {
    display: none;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center
}

.navlist {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--light-grey);
}

.item {
    display: inline-block;
    width: 180px;
    height: 100%;

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item a {
    display: block;
    color: var(--icon-color);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.item a:hover {
    background-color: none;
    color: var(--other-orange);
    border-radius: 15px;
}

.dropdown {
    display: none;
}

/* FONT */
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.days-one-regular {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* MISC */
h1 {
    font-size: 60px;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* CONTAINER */
.container {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px;
    gap: 15px;
    background-color: none;
}

.container div {
    gap: 25px;
    padding: 25px;
}

/* TOP */
.top-section {
    background-color: var(--white);
    padding: 50px 0px 50px 0px;
}

.top {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.top-head {
    width: 600px;
    padding: 0px 0px 0px 50px;
}

.top h1 {
    margin-bottom: 0px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: none;
}

.slideshow-container div {
    padding: 0px;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* SECTION HEADER */
.section-header {
    display: flex;
    justify-content: center;

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* ABOUT */
.about-section {
    background-color: var(--light-grey);
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-head {
    color: var(--icon-color);
    width: 400px;
    align-self: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.about-text {
    background-color: none;
    color: whitesmoke;
    align-self: center;
}

/* SKILL */
.skill-section {
    background-color: var(--light-grey);
}

.skill-content {
    display: flex;
    justify-content: none;
}

.skill-head {
    color: var(--icon-color);
    width: 200px;
    align-self: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.skill-text {
    background-color: none;
    color: whitesmoke;
    align-self: center;
}

/* LANGUAGES */
.languages-section {
    padding: 50px 0px 25px 0px;
}

.languages-section div {
    display: flex;
    justify-content: space-evenly;
}

.languages-section i {
    color: var(--light-grey);
    font-size: 108px;
}

.languages-section i:hover {
    color: var(--light-grey);
}

/* PORTFOLIO */
.portfolio {
    padding-bottom: 50px;
}

.target {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.target div {
    align-items: center;
    align-content: start;
    border-style: none;
    border-color: grey;
    background-color: white;
    width: 300px;
    height: auto;
}

.target div:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transform: scale(1.05);
}

.target a {
    color: var(--icon-color);
    text-decoration: none;
}

.target a:hover {
    color: var(--other-orange);
}

/* CERTIFICATES */
.target2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
}

.target2 div {
    align-items: center;
    align-content: start;
    width: 350px;
    height: auto;
    padding: 0px;
    text-align: center;
}

.target2 img {
    width: 350px;
    height: auto;
}

.target2 img:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transform: scale(1.05);
}

/* CERTIFICATES TOGGLE */
.certificates-buttons {
    text-align: center;
}

.certificates-toggle {
    font-family: "Days One", sans-serif;
    padding: 10px;
    background-color: var(--white);
    border: none;
}

.certificates-content {
    display: none;
}

.certificates-content.visible {
    display: contents;
}

/* CERITIFICATES MODAL */
.certificates-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.certificates-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
}

#certificates-modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER HEADER */
.footer-header {
    display: flex;
    justify-content: flex-start;

    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--light-grey);
    color: var(--white);

    padding: 0px 0px 0px 50px;
}

.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
}

.contact-details {
    width: 800px;
    padding-left: 150px;
    padding-right: 200px;
}

.socials {
    font-size: 2rem;
    color: var(--white);
    display: flex;

    gap: 20px;
    width: 300px;
    margin-bottom: 15px;
    align-content: center;
}

i {
    color: var(--icon-color);
    align-items: center;
    gap: 25px;
}

i:hover {
    color: var(--other-orange);
}

footer a {
    color: var(--icon-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--other-orange);
}

.copyright {
    align-self: center;
    padding-top: 15px;
}

@media screen and (max-width: 800px) {

    .navbar {
        display: none;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 10px 20px;
        background-color: var(--dark-grey);
    }

    header span {
        color: var(--icon-color);
        gap: 15px;
    }

    .banner-content {
        display: inline-block;
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
        gap: 25px;
        padding-right: 0px;
    }

    .dropdown-button-bar {
        display: inherit;
        background-color: var(--dark-grey);
        color: var(--icon-color);
        padding: 0px 0px 16px 0px;
        font-size: 32px;
        border: none;
        cursor: pointer;
    }

    .dropdown-button-x {
        display: none;
        background-color: var(--dark-grey);
        color: var(--icon-color);
        padding: 0px 2px 16px 2px;
        font-size: 32px;
        border: none;
        cursor: pointer;
    }

    .dropdown-button-bar.visible {
        display: none;
    }

    .dropdown-button-x.visible {
        display: inherit;
    }

    .mobile-nav.visible {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-nav-content {
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .mobile-nav-item {
        display: block;
        width: auto;
        background-color: var(--light-grey);
        padding: 25px;
        text-align: center;
    }

    .mobile-nav-item a {
        color: var(--icon-color);
        text-decoration: none;
    }

    .mobile-nav-item:hover {
        background-color: var(--dark-grey);
        color: var(--icon-color);
    }

}

@media screen and (max-width: 1050px) {

    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .top-section {
        padding: 0px;
        padding-bottom: 75px;
    }

    .top {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        justify-content: center;
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-head {
        width: 180px;
        padding-bottom: 0px;
    }

    .about-text {
        align-self: center;
        padding-top: 50px;
    }

    .footer-body {
        flex-direction: column;
    }

    footer {
        padding: 0px 25px 25px 25px;
    }

    .contact-details {
        width: 400px;
        padding-left: 0px;
        padding-right: 0px;
    }

}